
  <section id="about" class="about">
    <div class="container">
      <div class="about__content-block header-block">
        <div class="header-block__title">
          Привет я kv🖤
        </div>
        <div class="header-block__text">
          Я сертифицированый тату мастер. На моем теле нет ни одного тату. Изначально я чинил тату оборудование, а не делал его.
          Первый блок питание я сделал для себя, не планируя заниматься производством. Производство KV существует пол года(6 месяцев)
        </div>
      </div>
    </div>
  </section>
