<section id="contact" class="contact">
  <div class="container">
    <div class="contact__header-block header-block">
      <div class="header-block__title">Свяжитесь с нами!</div>
      <div class="header-block__subtitle">Вас заинтересовал наш продукт? Замечательно! Позвоните нам или отправьте нам электронное письмо, и мы свяжемся с вами в ближайшее время!</div>
    </div>
    <div class="contact__body">
      <div class="contact__row">
        <div class="contact__column">
          <div class="contact__item">
            <div class="contact__icon">
              <i class="fab fa-telegram"></i>
            </div>
            <div class="contact__text">
              <a href="tel:+380 637597346">+380 63 759 7346</a>
            </div>
          </div>
        </div>
        <div class="contact__column">
          <div class="contact__item">
            <div class="contacnt__icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="contact__text b"><a href="kvtattoo@gmail.com">kvtattoo@gmail.com</a></div>
          </div>
        </div>
        <div class="contact__column">
          <div class="contact__item">
            <div class="contacnt__icon">
              <i class="fab fa-viber"></i>
            </div>
            <div class="contact__text">
              <a href="tel:+380 637597346">+380 63 759 7346</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
