<div id="inst" class="shop">
  <div class="shop__body">
    <div class="shop__column shop__column_b">
      <div class="shop__block block-shop">
        <div class="block-shop__row">
          <div class="block-shop__column">
            <a href="https://www.instagram.com/p/CCisGPCJz18/" class="block-shop__item block-shop__item_l item">
              <span class="item__logo">
                <img src="../img/burger.png" alt="">
                <span>Перейти в instagram</span>
              </span>
              <span class="item__image ibg">
                <img src="img/shop/1.jpg" alt="">
              </span>
            </a>
          </div>
          <div class="block-shop__column">
            <a href="https://www.instagram.com/p/CAFjxy8pOhE/" class="block-shop__item block-shop__item_l item">
              <span class="item__logo">
                <img src="../img/burger.png" alt="">
                <span>Перейти в instagram</span>
              </span>
              <span class="item__image ibg">
                <img src="img/shop/2.jpg" alt="">
              </span>
            </a>
          </div>
        </div>
        <a href="https://www.instagram.com/p/B9CWVXZptiM/" class="block-shop__item item">
          <span class="item__logo">
            <img src="../img/burger.png" alt="">
            <span>Перейти в instagram</span>
          </span>
          <span class="item__image ibg">
            <img src="img/shop/3.jpg" alt="">
          </span>
        </a>
      </div>
    </div>
    <div class="shop__column">
      <a href="https://www.instagram.com/p/B-pFvnTJkfb/" class="block-shop__item block-shop__item_b item">
        <span class="item__logo">
          <img src="../img/burger.png" alt="">
          <span>Перейти в instagram</span>
        </span>
        <span class="item__image ibg">
          <img src="img/shop/4.jpg" alt="">
        </span>
      </a>
    </div>
    <div class="shop__column">
      <a href="https://www.instagram.com/p/B-UKrA2p-E8/" class="block-shop__item block-shop__item_b item">
        <span class="item__logo">
          <img src="../img/burger.png" alt="">
          <span>Перейти в instagram</span>
        </span>
        <span class="item__image ibg">
          <img src="img/shop/5.jpg" alt="">
        </span>
      </a>
    </div>
    <div class="shop__column shop__column_b">
      <div class="shop__block block-shop">
        <a href="https://www.instagram.com/p/CDJUzBeJim_/" class="block-shop__item item">
          <span class="item__logo">
            <img src="../img/burger.png" alt="">
            <span>Перейти в instagram</span>
          </span>
          <span class="item__image ibg">
            <img src="img/shop/6.jpg" alt="">
          </span>
        </a>
        <div class="block-shop__row">
          <div class="block-shop__column">
            <a href="https://www.instagram.com/p/B8tiaQjJ47D/" class="block-shop__item block-shop__item_l item">
              <span class="item__logo">
                <img src="../img/burger.png" alt="">
                <span>Перейти в instagram</span>
              </span>
              <span class="item__image ibg">
                <img src="img/shop/7.jpg" alt="">
              </span>
            </a>
          </div>
          <div class="block-shop__column">
            <a href="https://www.instagram.com/p/B-joh94J3pa/" class="block-shop__item block-shop__item_l item">
              <span class="item__logo">
                <img src="../img/burger.png" alt="">
                <span>Перейти в instagram</span>
              </span>
              <span class="item__image ibg">
                <img src="img/shop/8.jpg" alt="">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop__footer">
    <div class='container'>
      <a href="https://www.instagram.com/konovalovtattoo/" class="shop__btn btn"><span>
        Перейти в instagram
      </span></a>
    </div>
  </div>
</div>
