<div id="prod"  class="portfolio">
  <div class="container">
    <div class="portfolio__items ">
      <div class="portfolio__column">
        <div class="portfolio__image ibg">
          <img  src="img/product/1.jpg" alt="#">
        </div>
        <div class="portfolio__title"><span class="portfolio__num">01.</span> Блок KV [KonoValov] BRICK</div>
        <div class="portfolio__cost">1500 грн</div>
        <div class="portfolio__desc">Мощность 3 Ампера        Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
        Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
        Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
        Упаковка с наполнителем, в комплекте шнур.</div>
        <div class="portfolio__color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</div>
        <div class="portfolio__m">Вес 195г.</div>
        <div class="portfolio__s">Размер блока со всеми выпирающими элементами 115/60/50мм.</div>
        <div class="portfolio__g">Гарантия 1 год</div>
      </div>
      <div class="portfolio__column">
        <div class="portfolio__image ibg">
          <img  src="img/product/1.jpg" alt="#">
        </div>
        <div class="portfolio__title"><span class="portfolio__num">01.</span> Блок KV [KonoValov] BRICK</div>
        <div class="portfolio__cost">1500 грн</div>
        <div class="portfolio__desc">Мощность 3 Ампера        Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
        Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
        Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
        Упаковка с наполнителем, в комплекте шнур.</div>
        <div class="portfolio__color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</div>
        <div class="portfolio__m">Вес 195г.</div>
        <div class="portfolio__s">Размер блока со всеми выпирающими элементами 115/60/50мм.</div>
        <div class="portfolio__g">Гарантия 1 год</div>
      </div>
    </div>
  </div>
</div>























<!-- <section class="portfolio">
  <div class="container">
    <div class="porfolio__content">
      <div class="portfolio__row">
        <div class="portfolio__column">
          <div class="portfolio__item">
            <div class="portfolio__image ibg">
              <img  src="img/product/1.jpg" alt="#">
            </div>
            <div class="portfolio__title"><span class="portfolio__num">01.</span> Блок KV [KonoValov] BRICK</div>
            <div class="portfolio__cost">1500 грн</div>
            <div class="portfolio__desc">Мощность 3 Ампера        Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
            Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
            Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
            Упаковка с наполнителем, в комплекте шнур.</div>
            <div class="portfolio__color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</div>
            <div class="portfolio__m">Вес 195г.</div>
            <div class="portfolio__s">Размер блока со всеми выпирающими элементами 115/60/50мм.</div>
            <div class="portfolio__g">Гарантия 1 год</div>
          </div>
        </div>
        <div class="portfolio__column">
          <div class="portfolio__item">
            <div class="portfolio__image ibg">
              <img  src="img/product/1.jpg" alt="#">
            </div>
            <div class="portfolio__title"><span class="portfolio__num">02.</span> Блок KV [KonoValov] BRICK</div>
            <div class="portfolio__cost">1500 грн</div>
            <div class="portfolio__desc">Мощность 3 Ампера        Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
            Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
            Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
            Упаковка с наполнителем, в комплекте шнур.</div>
            <div class="portfolio__color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</div>
            <div class="portfolio__m">Вес 195г.</div>
            <div class="portfolio__s">Размер блока со всеми выпирающими элементами 115/60/50мм.</div>
            <div class="portfolio__g">Гарантия 1 год</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
